.custom-menu{
	width: 40%;
	float: left;
}
.page-header .panel.wrapper, .page-header .header.content, .page-main
{
	border-bottom: none !important;
	border-top: none !important;
}
.page-header{
	margin: 0px;
	padding-bottom: 0px;
}
.container{
	width: 100%;
}
.page-header .panel.wrapper .panel.header, .page-header .panel.wrapper{
	margin-bottom: 0px;
	border-bottom: none;
	border-top: none;
}
.footer.content, .page-header, .panel{
	border-top: none;
	border-bottom: none;
}

/*Start CSS*/
.rating-summary .rating-result>span:before {
    color: #363636;
}
.product-reviews-summary {
    display: block;
    margin: 0;
}
.product-reviews-summary .rating-summary {
    display: contents;
}
.product-reviews-summary .reviews-actions a:first-child {
    border-right: 1px solid #909090;
    padding-right: 10px; 
}
.product-reviews-summary .reviews-actions a {
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 600;
}
.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price {
	font-size: 20px;
    font-weight: 600;
    color: #4d4d4d;
    margin-top: 20px;
}
.product-social-links a {
	margin: 0px 10px;
	color: #4d4d4d;
}
.btn-add-cart {
    /*padding: 10px 40px !important;*/
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    background: #6090b6;
    border: none;
    border-radius: 0;
    margin-left: 8px;
    height: 40px;
}
.product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions {
	padding-top: 0px;
}
.product-info-main .price-box {
    margin-top: 20px;
    margin-bottom: 10px;
}
.product-info-main .box-tocart, .product-options-bottom .box-tocart {
    margin: 0px 0;
}
.product-details-right {
    padding-top: 0px;
}
.product.info.detailed {
	padding: 50px 0 0;
    background: transparent;
    border-left: 0;
    border-bottom: 0;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.product.data.items>.item.title>.switch {
 	border-radius: 0 !important;
 	padding: 20px !important;
 	color: #808080;
 	font-size: 18px;
 	text-align: center;
 	font-weight: 600;
 	border-right: none;
 	margin: 0;
 	background: white;
    border-top: none;
    border-bottom: 1px solid #ddd;
}
.product.data.items>.item.title:last-child, .product.data.items>.item.title:last-child.active {
 	border-right: 1px solid #ddd;
}
.product.data.items>.item.content {
	margin-top: 40px;
}
.product.data.items>.item.title {
    margin: 0;
}
.product.data.items>.item.title.active>.switch, .product.data.items>.item.title.active>.switch:focus, .product.data.items>.item.title.active>.switch:hover {
    background: white;
    border-bottom: none;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.product-info-main .product.info.detailed {
	padding: 0;
	border: none !important;
}
.product-info-main .product.data.items>.item.title>.switch {
	border: none !important;
}
.product-info-main .product.data.items>.item.content {
	border: none !important;
}
.short {
    height:50px;
    overflow:hidden;
}
.product-info-main .content {
	margin-top: 0px !important;
}
.product-info-main .product.data.items>.item.content {
	padding: 0px;
}
#product.info.description {
	margin-top: 0px;
}
.product-info-main .product.info.detailed .data.item.title.active {
	display: none;
}
.modal-backdrop.fade.in {
	display: none;
}
.product-details-right .add-cart {
    margin-bottom: 20px;
}
.product-details-right .free-gift {
    margin-bottom: 30px;
}
.product-list-tab, .price-list-tab, .items {
    border: none;
}

/*Login/Registration Css*/
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.fieldset>.field>.label, .fieldset>.fields>.field>.label {
	font-weight: 300;
}
.actions-toolbar .secondary a.action {
    margin: 8px 0;
}
.actions-toolbar .secondary {
    float: none;
}
.actions-toolbar {
	margin-bottom: 20px;
}
.back {
	padding: 7px 15px;
	border-radius: 0px;
}
.back.btn span {
	font-weight: 700;
	font-size: 1.5rem;
}
button, a.action.primary, .cart.table-wrapper .actions-toolbar>.action, .cart.table-wrapper .action-gift {
	border-radius: 0px;
}
button {
	border-radius: 0px !important;
}
p, li {
	font-size: 20px;
    line-height: 22px;
    font-weight: 300;
    text-align: left;
}

/*Shopping Cart CSS*/
#shopping-cart-table {
	border: 1px solid #999999;
}

/*label css*/
.label-blue {
	color: #3e5e97;
}

/*Font Weight Css*/
.font-small {
    font-weight: 300;
}

/*User Account CSS*/
.columns {
	margin-top: 20px;
}
.account-nav .content {
	border: 1px solid #999;
    padding: 0;
    background: #fff;
}
.account-nav .nav.items li a {
	font-weight: 600;
}
.account-nav .nav.items li:first-child {
	border-bottom: 1px solid #999;
	background: #f2f2f2;
}
.account-nav .nav.items li:first-child a {
	font-size: 18px;
	color: #000;
	font-weight: 700;
	background: #f2f2f2;
}
.box .box-title span {
	font-size: 20px !important;
	font-weight: 600 !important;
}
.display-inline {
	display: inline;
}
address {
	font-size: 20px;
}
.action.save.primary {
	padding: 6px 17px !important;
}
.nav.item.current a {
	color: #333;
}
.message.info.empty {
	font-size: 20px;
	background: #fff; 
    color: #333;
}
.message.info>*:first-child:before {
	content: '';
}

@media (min-width: 768px){
	.page-wrapper>.page-bottom
	{
		max-width: 960px;
	}
}
.logo{
	margin-top: 0px !important; 
	margin-left: 25px !important;
}
.for-dog p, .for-cat p, .for-you p
{
	font-size:16px;
	font-weight: 600px;
	text-align: center;
}
.banner-btm-bg p{
	font-size: 27px;
}
.header.panel>.header.links>li.welcome, .header.panel>.header.links>li a{
	color: #333;
	text-transform: uppercase;
}
.page-layout-home .page-wrapper .page-main .columns .column.main
{
	width: 66.66666667% !important;
    float: left;
}
.page-layout-home .page-wrapper .page-main .columns .sidebar
{
    width: 33.33333333% !important;
    float: right;
}
.columns .column.main
{
	padding-bottom: 0px !important;
}
.page-wrapper >.page-footer>.footer.content, .footer.content{
	padding-top: 0px !important;
	margin-top: 0px !important;
}
.page-layout-1column .column.main, .page-wrapper .columns, .page-wrapper  .column.main{
	padding-bottom: 0px;
}
.page-products .product-item-info{
	width: 50% !important;
}
.product-img .page-products .product-item-info
{
	width: 50% !important;
}
.products .zoom-icon{
	z-index: 8;
}
/* Contact us css here */
.contact {
	margin: 0;
	padding-bottom: 60px;
}
.contact-banner-main .contact-banner-inner {
	background: url(../../images/contact_head_bg.png) no-repeat top;
	padding: 26px 0 40px;
}
.contact-banner-main .contact-banner-inner h3 {
	font-size: 48px;
	color: #fff;
	font-weight: 600;
	line-height: 1;
	padding: 0 35px;
	margin: 0;
}
.contact a {
	font-weight: 600;
}
.contact .left-paragraph {
	margin-bottom: 30px;
}
.contact .left-paragraph a {
	margin-bottom: 60px;
}
.contact .rightPanel .heading {
	color: #4d4d4d;
	font-size: 26px;
	font-weight: 100;
}
.contact .rightPanel p {
	margin-bottom: 0px;
}
.contact .rightPanel p {
    font-size: 20px;
    line-height: 26px;
}
.contact .rightPanel p a {
    font-size: 20px;
    line-height: 26px;
}
.catalog-category-view .block.filter
{
	display: none;
}
.engage-main a {
	text-decoration: none;
	color: #fff;
}
.modal-inner-wrap .modal-header{
	border-bottom: none;
}
.modal-inner-wrap .modal-content{
	border-top: none;
}
.menu-icon
{
	margin-top: 0px;
}
.header.links li{
	line-height: 33px important;
}
.minicart-wrapper .action.showcart .counter.qty{
	background-color: #333;
}
.cart-header{
	margin-bottom: 10px;
}
.items .col.subtotal
{
    border-right: solid 1px #999999;
}
.items .item-actions, .items .cart.item, .cart.table-wrapper .items>.item{
	border-bottom: solid 1px #999999;
}
.product-item-name a:hover{
	text-decoration: none;
}
.table>tbody>tr>td, .items > tbody > tr > td{
	border-top: none;
	-webkit-box-sizing: none;
    -moz-box-sizing: none;
    box-sizing: none;
}
.cart-summary
{
	background-color: #fff;
	border: none !important;
	padding-left: 0px;
	padding-right: 0px;
}
.cart.table-wrapper .col{
	padding-top: 8px;
}
.cart-summary>.title{
	padding: 10px;
	margin: 0px;
	background-color: #f2f2f2;
	border: 1px solid #999999;
	font-weight: bold;
}
.cart-summary .block{
	padding: 10px;
	margin: 0px;
	border: 1px solid #999999;
	border-top: 0px;
	border-collapse: collapse;
}
.col.item{
	padding-top: 15px;
}
.cart.table-wrapper .item .col.item,
.cart.table-wrapper .item .col.price,
.cart.table-wrapper .item .col.qty,
.cart.table-wrapper .item .col.subtotal{
	padding-top: 15px !important;
}
.cart-summary .block>.title{
	border-top: none;
}
.cart-summary .cart-totals{
	padding: 10px;
	border: 1px solid #999999;
	border-top: 0px;
	border-collapse: collapse;
}
.cart-summery .cart-totals .table
{
	margin-bottom: 0px;
}
.cart-totals .mark{
	background-color: #fff;
	border-top: 0px;
}
.cart-container .checkout-methods-items{
	padding: 0px 0px;
}
.cart-container .cart-summary .checkout.methods.items{
	border:none !important;
}
.label, action.action-auth-toggle, .step-title{
	color: #333333;
	font-size: 18px;
	font-weight: normal;
}
.authentication-dropdown, .modal-inner-wrap, .opc-block-shipping-information{
	background-color: #f2f2f2;
}
.opc-sidebar .modal-inner-wrap{
	background-color: #fff;
}
.modal-content{
	padding: 10px;
}
.opc-sidebar .modal-content {
	padding: 0px;
}
.opc-sidebar .opc-block-summary{
	margin-bottom:0px;
}
.fieldset>.field:not(.choice)>.label{
	border-bottom: 0px;
}
.opc-payment .items{
	border:0px;
}
.pc-payment .billing-address-details{
	font-size: 14px;
}
.checkout-success{
	padding-bottom: 10px;
	padding-top: 10px;
}
.checkout-success .order-number{
	color: #333;
}
.opc-wrapper .shipping-address-item,
.billing-address-details,
/*p
{
	font-size: 20px;
}*/
.opc-wrapper .shipping-address-item.selected-item{
	border:2px solid #999999;
}
button{
	 color: #4d4d4d;
}
.opc-wrapper .shipping-address-item.selected-item:after{
	background: #4d4d4d;
}
.cart-totals .mark, .opc-block-summary .table-totals .mark{
	background:none;
}
.opc-sidebar .ship-via{
	margin-bottom: 0px;
}
.opc-progress-bar-item._active:before, .opc-progress-bar-item._active>span:before{
	background: #4d4d4d;
}
.login-container, .signup-container {
	padding-top: 20px;
}
.account-container .block-title, .signup-container .block-title {
    font-size: 1.8rem;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
    padding-bottom: 12px;
}
.block-customer-login-heading{
	font-size: 20px;
}
button.action,
.form-cart .action.clear,
.form-cart .action.update,
.action.primary.checkout{
	font-size: 1rem;
    border-radius: 0px;
    margin: 0px;
}
button.action span,
.form-cart .action.clear span, 
.form-cart .action.update span
{
	color: #fff;
	/*font-size: 20px;
	font-weight: 400;*/
	font-size: 1.4rem;
	font-weight: 600;
}
.form-cart .action.clear {
	background-color: #d9534f;
    border-color: #ac2925;
}
button.action,
.form-cart .action.update{
	background-color: #1979c3;
    border-color: #006bb4;
}
button.action,
.form-cart .action.update:hover{
	background-color: #006bb4;
}
.form-cart .action.clear:hover{
	background-color: #c9302c;
	text-decoration: none;
}
.step-title{
	font-size: 24px;
	color: #3e5e97;
}
.table-checkout-shipping-method .col{
	font-size: 18px;
}