.custom-menu{
	width: 40%;
	float: left;
}
.page-header .panel.wrapper, .page-header .header.content, .page-main
{
	border-bottom: none !important;
	border-top: none !important;
}
.page-header{
	margin: 0px;
	padding-bottom: 0px;
}
.container{
	width: 100%;
}
.page-header .panel.wrapper .panel.header, .page-header .panel.wrapper{
	margin-bottom: 0px;
}
.footer.content, .page-header, .panel{
	border-top: 0px;
}

@media (min-width: 768px){
	.page-wrapper>.page-bottom
	{
		max-width: 960px;
	}
}
.logo{
	margin-top: 0px !important; 
	margin-left: 25px !important;
}
.for-dog p, .for-cat p, .for-you p
{
	font-size: 21px;
	font-weight: 600px;
}
.banner-btm-bg p{
	font-size: 27px;
}
.header.panel>.header.links>li.welcome, .header.panel>.header.links>li a{
	color: #333;
	text-transform: uppercase;
}
.page-layout-home .page-wrapper .page-main .columns .column.main
{
	width: 66.66666667% !important;
    float: left;
}
.page-layout-home .page-wrapper .page-main .columns .sidebar
{
    width: 33.33333333% !important;
    float: right;
}
.columns .column.main
{
	padding-bottom: 0px !important;
}
.page-wrapper >.page-footer>.footer.content, .footer.content{
	padding-top: 0px !important;
	margin-top: 0px !important;
}
.page-layout-1column .column.main, .page-wrapper .columns, .page-wrapper  .column.main{
	padding-bottom: 0px;
}
.page-products .product-item-info{
	width: 50% !important;
}
.product-img .page-products .product-item-info
{
	width: 50% !important;
}
.products .zoom-icon{
	z-index: 8;
}